@import
url(https://fonts.google.com/specimen/Chakra+Petch);

:root {
--cor-de-fundo: #1E1E1E;
--azul: #4d50f1;
--branco: #FFFFFF;
}
body {
background-color: var(--cor-de-fundo);
color: var(--branco);
font-family: 'Chakra Petch', sans-serif; 
text-align: center;
}
h1 span{
color: var(--azul);
}
#dias_restantes{
color: var(--azul);
font-size: 50px;
}